.input {
	width: 100%;
	padding: 4px 8px;
	color: var(--light);
	font-size: 16px;
	border: 1px solid var(--light);
	border-radius: 6px;
	transition: 0.3s all ease;
	&:hover,
	&:focus-visible {
		box-shadow: 3px 3px 10px var(--light);
	}
}

.label {
	width: 100%;
}

.label_text {
	text-transform: capitalize;
	margin-bottom: 4px;
	display: block;
}
