.btn {
	width: 100%;
	padding: 8px 20px;
	border-radius: 16px;
	background: var(--light);
	border: none;
	color: var(--dark);
	font-size: 16px;
	transition: 0.3s all ease;
	&:hover {
		outline: 1px solid var(--light);
		box-shadow: 3px 3px 10px var(--light);
	}
}
